textarea {
    font-size: 9pt;
    width: 430px;
    color: #000
}

.line {
    position: absolute;
    z-index: 99;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#txtLine {
    background: #ecf0f5;
    height: 400px;
    overflow: hidden;
    width: 32px;
    border: 0px solid #ccc;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    resize: none;
    margin: 1px 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#txtContent {
    font-family: Arial, Helvetica, sans-serif;
    height: 402px;
    margin: 0px;
    padding: 0 0 0 35px;
    overflow-x: hidden;
    line-height: 20px;
    resize:none;
}